{% extends 'base.html' %}
{% block body %}


<div >
    {% if user.is_authenticated %}
        <p class="text-end p-4">Welcome, <strong>{{ user.username }}!</strong> <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a></p>
    {% else %}
        <p><a href="{% url 'login' %}">Login</a> | <a href="{% url 'signup' %}">Sign Up</a></p>
    {% endif %}
</div>


<div class="p-4">
    <h2>My Products</h2>

<table class="table table-bordered">
    
    <tr>
        <th>Image</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Added by</th>
    </tr>
    {% for product in products %}
<tr>
    <td>
    {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}" width="100">
    {% endif %}
    </td>
    <td><strong>{{ product.name }}</strong></td>
    <td>${{ product.price }}</td>
    <td>{{product.description}}</td>
    <td>{{ product.user.username }}</td>
</tr>

{% endfor %}
</table>


<a class="btn btn-success" href="{% url 'product_create' %}">Add Product</a>
</div> 


{% endblock %} 